{% if paginator.previous_page or paginator.next_page %}
  <div class="pagination clearfix mb1 mt4">
    {% if paginator.previous_page %}
      <div class="left">
        {% if paginator.page == 2 %}
          <a class="pagination-item" href="{{ site.baseurl }}/">Newer</a>
        {% else %}
          <a class="pagination-item" href="{{ site.baseurl }}/page/{{paginator.previous_page}}/">Newer</a>
        {% endif %}
      </div>
    {% endif %}
    {% if paginator.next_page %}
      <div class="right">
        <a class="pagination-item" href="{{ site.baseurl }}/page/{{paginator.next_page}}/">Older</a>
      </div>
    {% endif %}
  </div>
{% endif %}
